// Nextflow configuration file

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {
            // Default container settings
            container = 'docker.io/jolespin/compleasm-veba:0.2.7'

            // Resource settings
            withLabel: process_medium {
                cpus = 12
                memory = '92 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "test.fasta"
}