// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 8
                memory = '28 GB'
                time = '8h'
            }
        }
    }
}

// Default profile
params {
    genome_1 = "../../../data/organisms/archaea/h_volcanii.fa.gz"
    genome_2 = "../../../data/organisms/bacteria/e_coli.fa.gz"
    db = "path/to/db"
}