// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_medium {
                cpus = 16
                memory = '96 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    gtdb_database = "GTDB"
    gtdbmash_database = "GTDB/mash/gtdb.msh"
    bacteria_genome = "../../../data/organisms/bacteria/e_coli.fa.gz"
    archaea_genome = "../../../data/organisms/archaea/h_volcanii.fa.gz"
}