// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            withLabel: process_high {
                cpus = 4
                memory = '12 GB'
                time = '4h'
            }
        }
    }
}

// Default profile
// Note: `db` must be supplied at runtime: --db /path/to/diamond.dmnd
params {
    fasta = "../../../data/organisms/bacteria/e_coli.faa.gz"
    db = "/path/to/diamond.dmnd"
    outfmt = "6"
    blast_columns = ""
}
