// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            withLabel: process_medium {
                cpus = 4
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    r1 = "../../../data/reads/illumina/toy_plastisphere/S1_1.fastq.gz"
    r2 = "../../../data/reads/illumina/toy_plastisphere/S1_2.fastq.gz"
    reference = "../../../data/organisms/metagenome/S1__metagenome.fasta.gz"
    mode = "bam"
}
