// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_single {
                cpus = 2
                memory = '4 GB'
                time = '1h'
            }
        }
    }
}

// Default profile
params {
    fasta = "../../../data/organisms/bacteria/e_coli.fa.gz"
    dbname = "bac"
}
