// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 8
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "../../../data/organisms/bacteria/e_coli.fa.gz"
    gff = "../../../data/organisms/bacteria/e_coli.pyrodigal.gff.gz"
    db = "path/to/db"
}
