// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 8
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "/mnt/efs/databases/oath-genomics-registry/projects/AMP-250618/samples/AMP-250618_OATH01252/assemblies/OASM-c934a3ea/assets/OASM-c934a3ea.fa.gz"
    gff = "/mnt/efs/databases/oath-genomics-registry/projects/AMP-250618/samples/AMP-250618_OATH01252/assemblies/OASM-c934a3ea/assets/OASM-c934a3ea.gff.gz"
    db = "path/to/db"
}
