// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 2
                memory = '4 GB'
            }
        }
    }
}

// Default profile
params {
    gfa = "/path/to/assembly.gfa"
    min_contig_length = 1000
}
