// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 6
                memory = '28 GB'
                time = '8h'
            }
        }
    }
}

// Default profile
params {
    fasta = "/path/to/assembly.fasta"
    min_contig_length = 1000
}
