// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'


        }
    }

// Process
process {
    // Safe defaults
    cpus = 1
    memory = '1.GB' 

    withName: 'STROBEALIGN_WRAPPER' {
        cpus = 4
        memory = '14.GB'
    }

}

// Default profile
params {
    r1 = "../../../data/reads/illumina/toy_plastisphere/S1_1.fastq.gz"
    r2 = "../../../data/reads/illumina/toy_plastisphere/S1_2.fastq.gz"
    reference = "../../../data/organisms/metagenome/S1__metagenome.fasta.gz"
    contigs_to_genomes = "../../../data/organisms/metagenome/S1__contigs_to_genomes.tsv"

}