// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_medium {
                cpus = 4
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "test.fasta"
    db = "db.hmm.gz"

}