// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            withLabel: process_medium {
                cpus = 4
                memory = '16 GB'
                time = '4h'
            }
        }
    }
}

// Default profile
// Note: `db` must be supplied at runtime: --db /path/to/uniref100.KO.1.dmnd
params {
    fasta = "../../../data/organisms/bacteria/e_coli.fa.gz"
    db = "/path/to/checkm2_uniref100.KO.1.dmnd"
    genes = false
}
