// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            withLabel: process_medium {
                cpus = 4
                memory = '8 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "../../../data/organisms/bacteria/e_coli.fa.gz"
    mode = "-B"
}
