// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 6
                memory = '28 GB'
                time = '8h'
            }
        }
    }
}

// Default profile
params {
    fastq = "/path/to/ont"
    read_type = "ont_r10"
    autocycler_assemblers = "flye,raven,miniasm,myloasm,plassembler,metamdbg"
    autocycler_subsample_count = 4
    autocycler_min_read_depth = 25
    autocycler_min_depth_rel = 0.1
    autocycler_min_contig_length = 1000
}
