// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_medium {
                cpus = 14
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    identifier_mapping = "identifier_mapping.proteins.tsv.gz"
    pykofamsearch_results = "pykofamsearch_results.tsv.gz"
    db = "Databases/KEGG-Pathway-Profiler/database.pkl.gz"
}