// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 2
                memory = '4 GB'
                time = '1h'
            }
        }
    }
}

// Default profile
params {
    reads_manifest = "input_reads.tsv"
    database_manifest = "sylph_databases.tsv"
}