// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_medium {
                cpus = 14
                memory = '4 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fasta = "../../../data/organisms/archaea/h_volcanii.fa.gz"
}