// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_high {
                cpus = 4
                memory = '12 GB'
                time = '2h'
            }
        }
    }
}

// Default profile
params {
    fastq = "../../../data/reads/ont/ecoli_ERR10499031.fastq.gz"
}
