// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process {

            // Resource settings
            withLabel: process_single {
                cpus = 1
                memory = '1 GB'
                time = '30m'
            }
        }
    }
}

// Default profile
params {
    fasta = "../../../data/reads/ont/ecoli_flye/assembly.fasta.gz"
    gfa = "../../../data/reads/ont/ecoli_flye/assembly_graph.gfa.gz"
    delimiter = "__"
}
