// Nextflow configuration file
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'


        }
    }

// Process
process {
    // Safe defaults
    cpus = 1
    memory = '1.GB' 

    // ============================================
    // PER-SAMPLE PROCESSES
    // ============================================
    
    // Preprocessing (minimal resources)
    withName: 'SYLPH_PROFILE' {
        cpus = 1
        memory = '1.GB'
    }

    // Preprocessing (minimal resources)
    withName: 'SYLPH_PROFILE_MANY' {
        cpus = 4
        memory = '4.GB'
    }

}

// Default profile
params {
    reads_manifest = "input_reads.tsv"
    database_manifest = "sylph_databases.tsv"
}